<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%-title %></title>
	<link href="/build/bundle.css" rel="stylesheet" type="text/css">
	
	
</head>
<body fullbleed layout vertical unresolved>

<div ui-view></div>

<footer id="footer"><p style="text-align: center;">&copy; My Company </p></footer>

<!-- <script src="/jsapp/build.elements.js"></script> -->


<script src="/build/bundle.js"></script>
</body>
</html>