<top-sidebar logined="0"></top-sidebar>
<section id="intro" class="intro" style="min-height: 800px;">
  
    <div class="slogan">
      
      <h4>404</h4>
    </div>
    <div class="page-scroll">
      
    </div>
</section>

<div class="col-md-4 col-md-offset-4 col-xs-12 vcenter">
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h3 class="panel-title">404</h3>
        </div>
        <div class="panel-body">
            Страница не найдена
        </div>
    </div>
</div>