<top-sidebar logined="0"></top-sidebar>
<div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 sidebar">
            <left-sidebar logined="0"></left-sidebar>
        </div>

        <div ng-controller="cabinetSettingsCtrl as ctrl" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Настройки</h1>
			<br><br>
		
			<div >
				<form  class="panel panel-default" ng-submit="ctrl.saveUser()">
				  	<div class="panel-heading">
				  		Аккаунт	
			  		</div>
				  	<div class="panel-body">
					  	<div class="form-group">
						    <input type="password" class="form-control" placeholder="пароль" ng-model="ctrl.user.user_auths.password">
					  	</div>
					  	<div class="form-group">
						    <input type="password" class="form-control" placeholder="новый пароль" ng-model="ctrl.user.new_password">
					  	</div>
				  	</div>
				  	<div class="panel-footer">
				  		<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i>  Сохранить</button>
			  		</div>
				</form>
			</div>
        </div>
        


      </div>
</div>